<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro de Eventos</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header">
        <h1>
            <a href="/"> Home</a>
        </h1>
    </div>

    <div>
        <form method="get" action="/evento">
            <label>Digite o nome do evento desejado: </label>
            <input type="text" name="nome">
            <button>Procurar</button>
        </form>
    </div>

    <p th:text="${msg}"></p>
</body>
</html>