<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro de Eventos</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="header">
    <h1>
        <a href="/"> Home</a>
    </h1>

    <div>
        <a href="/cadastro">Cadastrar</a>
    </div>
</div>
<div>
    <h2>Bem Vindo ao Cadastro de Eventos.</h2>
    <p>Clique em cadastrar, siga as instruções e pronto!</p>
    <p>Seu Evento será cadastrado</p>
</div>
</body>
</html>