<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro Eventos</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="header">
    <h1>
        <a href="/"> Home</a>
    </h1>

    <div>
        <a href="/cadastro">Cadastrar</a>
    </div>
</div>
<div>
    <h2>Obrigado por finalizar o cadastro!</h2>
    <a href="/">Voltar para Página Inicial</a>
</div>
</body>
</html>